body {
  padding: 10px;
}

.related-products-container {
  padding: 10px;
  font-family:  Helvetica, sans-serif;
  font-size: 10px;
}

.relatedproducts-title, .youroutfit-title{
  padding:10px;
  font-size: 12px;
}
.related-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.related-card {

  max-width: auto;
  margin: 5px;
  padding: 5px;
  border: solid;
  border-radius: 2px;
  border-width: 2px;
  border-color: grey;
}
.fit-picture {
  max-width:100%;
  height: auto;
  border-radius: 2px;
}

.product-info {
  text-align: center;
  vertical-align: bottom;


}