#app {
  margin: 0;
  width: 100vw;
}

.app-container {
  margin: 0 auto;
  width: 85vw;
  margin-bottom: 150px;
}
.menu-bar {
  display: flex;
  background: black;
  margin-bottom: 40px;
  color: white;
  max-height: 4.8vw;
  min-height: 3vh;
  /* align-items: flex-end; */
}
.menu-cat {
  min-width: 20vw;
  font-size: 4vw;
}

#footer-bar {
  display: flex;
  height: 50px;
  margin-bottom: 0;
  background: linear-gradient(0.25turn, black, black, white);
  align-items: flex-end;
}
.tiny-text {
  font-size: 15px;
  color: white;
}
.POS {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: "Vujahday Script", cursive;
  font-size: 30px;
  color: black;
}

#main-title {
  margin: 0;
}

.menu-link {
  font-size: 2vw;
  letter-spacing: 1px;
}
.menu-link:hover {
  color: red;
  transform: translateY(10%);
}

hr {
  height: 8px;
}

.whitespace {
  width: 2vw;
}

#return-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 50px;
  transform: scaleX(-1);
}
#return-button:pointer {
  cursor: url("http://clipart-library.com/images/rTnrpap6c.png"), alias;
}

/*STARS*/
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  color: white;
}

.stars-inner::after {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: red;
}

/*///////////RELATED ITEMS CSS \\\\\\\\\\\\\\\\\\\\ */
/* text styling */
.relatedproducts-title,
.youroutfit-title {
  padding-top: 15px;
  font-size: 20px;
}

.style-tag {
  font-size: 14px;
}

.product-info {
  border-radius: 4px;
  text-align: center;
  color: white;
}

/* contains both card containers */
.related-products-container {
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;
  width: 100%;
  padding: 0;
}

/* main slides container */
.related-cards-container,
.your-outfit-container {
  height: 400px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 80px; */
}

/* slider */
.related-card-deck,
.your-outfit-deck {
  width: auto;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.related-card-deck::-webkit-scrollbar,
.your-outfit-deck::-webkit-scrollbar {
  display: none;
  width: 0px;
  position: fixed;
}

/* invidiual slides */
.related-card,
.your-outfit-card {
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 300px;
  margin-right: 8px;
  padding: 2px;
  border: solid;
  border-radius: 4px;
  border-width: 2px;
  border-color: grey;
  background-color: silver;
  font-weight: bold;
}

.related-card {
  position: relative;
}

.active {
  border: solid;
  border-radius: 4px;
  border-width: 2px;
  border-color: black;
  height: 310px;
  width: 200px;
  margin-bottom: 5px;
  box-shadow: 12px 0 15px -4px rgba(2, 13, 27, 0.8), -12px 0 8px -4px rgba(6, 20, 36, 0.8);
}

.deactive {
  margin-right: -80px;
  height: 290;
  box-shadow: 12px 0 15px -4px rgba(2, 13, 27, 0.8), -12px 0 8px -4px rgba(6, 20, 36, 0.8);

}

.product-card-contents,
.outfit-card-contents {
  display: grid;
  grid-template-rows: 0px 235px 20px;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
}
.card-5star {
  font-size: 12px;
}

.add-to-outfit-card {
  display: grid;
  grid-template-rows: 210px 50px;
  justify-content: center;
  font-size: 10px;
}

.add-info {
  font-size: 26px;
}

.goLeft,
.goRight {
  position: relative;
  font-size: 25px;
}

.goLeft {
  left: 0;
}

.goRight {
  right: 0;
}

.fit-picture {
  position: static;
  max-width: 200%;
  max-height: 300px;
  border-radius: 4px;
}
.active-pic {
  max-height: 300px;
}

/* compare modal button*/
#outfit-action,
#related-action {
  position: static;
  margin-left: 80%;
  margin-top: 5%;
  font-size: 25px;
  color: red;
  padding-bottom: 6px;
  height: 25px;
}

#related-action:hover {
  font-weight: bold;
}
#outfit-action:hover {
  font-size: 40px;
}

.placeholder {
  width: 15.63px;
}

#add-to-outfit-button {
  font-size: 200px;
  color: white;
  align-items: center;
}

#add-to-outfit-button:hover,
.goLeft:hover,
.goRight:hover {
  color: red;
}
/* COMPARE MODAL */
.compare-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.compare-modal-main {
  position: fixed;
  background: white;
  border-radius: 4px;
  border-color: red;
  border-style: solid;
  border-width: 2px;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.compare-display-block {
  display: block;
}
.compare-display-none {
  display: none;
}

table {
  margin: 0 auto;
}

th {
  font-size: 30px;
  text-align: center;
}

td {
  font-size: 25px;
  text-align: center;
}

/* /////////END OF RELATED ITEMS\\\\\\\\\\\\\\*/

/* /////////RATINGS & REVIEWS WIDGET /////////*/
.recommend-percentage {
  font-size: 15px;
  font-style: italic;
  font-weight: 900;
}

#child-ratings-reviews {
  /* width: fit-content; */
  margin-top:15%;
}

#ratings-reviews-main-container {
  /* width: 80%;
  margin: 0 auto;
  max-width: 80%;
  min-width: 80%;
  margin: auto; */
  width: 100%;
  margin: 0 auto;
}

#ratings-reviews-title {
  /* background-color: #5f3dc4; */
}

#ratings-reviews-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  width: 100%;
  /* overflow: hidden; */
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

#ratings-reviews-sidebar {
  /* background-color: #5f3dc4; */
  flex: 0.25;
  flex: auto;
  min-width: 250px;
  /* max-height: 450px; */
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* border: solid;
  border-color: grey;
  border-width: 1px; */
  padding: 10px;
  overflow: hidden;
}
.tiny-font {
  font-size: 10px;
}
.spacer {
  height: 30px;
}

#ratings-reviews-list-items {
  /* background-color: #5f3dc4; */
  margin-left: 40px;
  flex: 0.75;
  flex: auto;
  max-width: 75vw;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* flex-wrap: wrap; */
}

#more-reviews-button-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 15px;
}

.ratings-reviews-btn {
  border-color: black;
  border-width: 1px;
  margin-right: 10px;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.individual-review-first-row-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.individual-review-first-row-container p {
  margin: 0;
}

.individual-review-reviewer-date-container {
  display: flex;
}

.individual-review-body-main-container {
  margin-top: 8px;
}

.individual-review-body-container p {
  margin: 0;
}

.individual-review-summary-container {
  font-weight: bold;
  font-size: 14px;
  margin-top: 12px;
}

.individual-review-summary-container p {
  margin: 0;
}

.hide-overflow {
  overflow: hidden;
}

.word-wrap {
  word-wrap: break-word;
}

.hideEl {
  display: none;
}

.showEl {
  display: block;
}

.showEl p {
  margin: 0;
}

.hideEl p {
  margin: 0;
}

/* IndividualReviewThumbnails */
.thumbnail-container div:not(:first-child) {
  margin-left: 10px;
}

.thumbnail-container img {
  border-radius: 3px;
}

.thumbnail-container img:hover {
  opacity: 0.7;
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

/* modal */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modalOn {
  display: block;
}

.modalOff {
  display: none;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.individual-review-main-container {
  border-bottom: 1px #ccc solid;
  background-color: #f5f5f5;
}

.individual-review-recommend-main-container {
  margin-top: 15px;
}

.individual-review-body-container {
  margin-bottom: 8px;
}

.individual-review-body-container a:link {
  /* text-decoration: none; */
  color: black;
}

.helpful:hover {
  cursor: pointer;
  text-decoration: underline;
}

.star-underline {
  cursor: pointer;
  text-decoration: underline;
}

.helpful-container {
  display: flex;
}

.helpful-yes {
  text-decoration: underline;
  cursor: pointer;
}

.recommend-container {
  /* background-color: #EBEBEB !important; */
}

.response-container {
  background-color: #d3d3d3 !important;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* .response-container h3,
p {
  margin-left: 15px;
} */

.helpfulness-container {
  margin-top: 5px;
  margin-bottom: 8px;
}

.helpfulness-container p {
  margin: 0;
}

#sort-options-container {
  display: flex;
  font-weight: bold;
  font-size: 16px;
  justify-content: right;
}

#sort-options-container p {
  margin: 0;
}

select::-ms-expand {
  display: none;
}

select {
  outline: none;
  /* appearance: none; */
  background-color: transparent;
  border: none;
  /* padding: 0 1em 0 0; */
  margin: 0;
  /* width: 100%; */
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}

.review-list-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

#review-list-scroll-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100vh;
}

/* ratings breakdown */

.ratings-breakdown-container {
  width: 100%;
}

.average-rating-stars-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.average-rating-stars-container h2 {
  font-size: 40px;
}

.star-progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 22px;
}

/* .star-progress-bar-container p {
  flex: 0.5;
} */

/* .star-progress-bar-container p,
progress {
  width: 60%;
  margin: 0;
  margin-left: 0px; */
/* align-self: flex-start; */

/* background-color: rgb(226, 0, 196); */
/* } */

.star-progress-bar-container-total-ratings {
  text-align: right;
  padding: 0px;
}

/* product breakdown */

.product-progress-bar-container {
}

.characteristic-titles {
  font-size: 16px;
  font-style: italic;
}

.product-progress-bar-container progress {
  width: 100%;
}

.characteristic-container {
  width: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  /* margin: 0; */
}

.characteristic-container p {
  width: 100%;
  margin: 0;
  text-align: center;
}

.characteristic-container div {
  width: 100%;
  margin: 0;
}

/* FORM */

.modal-form {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 1vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modalOn-form {
  display: block;
}

.modalOff-form {
  display: none;
}

.image-upload-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.form-btn {
  border-color: rgb(118, 118, 118);
  border-width: 1px;
  margin-right: 10px;
  padding: 10px;
  background-color: transparent;
}

.form-btn:hover {
  cursor: pointer;
}

form {
  padding: 20px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  /* border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px; */
  border: 1px solid rgb(118, 118, 118);
  /* border-color: black; */
  /* border-width: 1px; */
  margin-right: 10px;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#write-your-review-title {
  margin-bottom: 5px;
}

#write-your-review-sub {
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px !important;
}

.row-inner-elements {
  margin-bottom: 7px !important;
}

form textarea {
  background-color: #f5f5f5;
  border-radius: 3px;
}

.input-tag {
  background-color: #f5f5f5;
  border: 1px solid rgb(118, 118, 118) !important;
  border-radius: 3px;
}

/* Modal Content (Image) */
.modal-content-form {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 700px;
}

.add-review-container {
  /* border: 2px solid pink; */
  border-radius: 8px;
  background-color: white;
}

.col-26 {
  display: flex;
  text-align: center;
}

.row-inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  border-bottom: 1px solid white;
}

.item-inner {
  height: 100%;
  width: 100%;
  /* display: table; */
  display: flex;
  flex-direction: column;
}

.shrink-right {
  flex: 1 1 auto;
  margin-right: 5px;
}

.shrink-left {
  flex: 1 1 auto;
  margin-left: 5px;
}

.characteristic-title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.characteristic-title label {
  text-align: center;
}

.characteristic-row-container {
  margin-top: 10px;
}

.radio-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-input-container span {
  text-align: center;
}

.radio-container {
  display: flex;
  justify-content: center;
}

.shrink-radio {
  /* flex: 1 1 auto; */
  width: 100%;
  margin: 5px;
}

.star-rating-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.star-rating-radio {
  display: none;
}

.star-rating-icon {
  font-weight: 900;
  font-size: 15px;
}

.yellow {
  color: #ffc107;
}

.gray {
  color: #e4e5e9;
}

/* ///////// END RATINGS & REVIEWS ///////// */

/* ============= Questions and Answers ============= */

/* resets */
.qa-button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

.reset-margins {
  margin: 0;
}

/* ----Custom Styles---- */

.questions-answers {
  width: 700px;
  margin: 15px auto 50px 80px;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  overflow: hidden;
}

.qa-helpful {
  font-weight: normal;
  font-size: 10px;
}

/* answers */
.answers-list {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}

.answer {
  margin-left: 5px;
  font-weight: normal;
  font-size: 12px;
}

.a-helpful {
  margin-top: 5px;
  margin-bottom: 10px;
}

.photos-thumbnail {
  margin-top: 5px;
  margin-right: 10px;
  width: 60px;
  height: auto;
}

/* Questions */
.search-bar {
  width: 600px;
  padding: 10px;
  padding-right: auto;
}

.search-questions {
  margin: 10px 0;
}

.single-question {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}

.q-helpful {
  float: right;
}

#qa-list {
  max-height: 800px;
  overflow-y: scroll;
}

/* buttons */
.qa-button:hover {
  cursor: pointer;
}

.submit-search {
  font-size: 15px;
  padding: 9px 10px 11px 10px;
  border-width: 1px 1px 1px 0;
  border-color: black;
}

.helpful-button {
  margin: 0 5px;
  text-decoration: underline;
}

.more-questions {
  border-color: black;
  border-width: 1px;
  margin-right: 10px;
  padding: 10px;
}

.load-answers {
  font-size: 10px;
}

/* Modals */
.askQuestion-form {
  margin: auto;
  width: 550px;
  padding: 20px;
  background-color: lightgray;
  border-radius: 5px;
}

.username-email {
  margin-top: 10px;
}

.form-subtext {
  margin-top: 3px;
  font-size: 10px;
  color: red;
}

.qa-textarea {
  margin-top: 5px;
  width: 92%;
  height: 75px;
}

.modal-button {
  margin-top: 5px;
  margin-right: 5px;
}

/*
///////////////////
 Products Overview
 //////////////////
 */

/* <nav> */
.navbar {
  height: var(--nav-size);
  padding: 0 1rem;
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

:root {
  --bg: grey;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

/*
Grid Container
*/

.container {
  display: grid;
  grid-template-columns: 60% 39.5%;
  grid-gap: 5px;
  background-color: black;
  padding: 5px;
}

.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}

.product-info-price {
  font-size: 1.5vw;
  margin: 0;
}
.product-info-description {
  font-weight: 900;
  font-size: 1.2vw;

}
.product-info-name {
  margin: 5px;
  font-weight: 900;
  font-size: 2vw;
  padding: 1vw;
}

.product-info-title {
  margin: 5px;
  font-size: 1vw;
}

.product-info-cat {
  margin: 0;
  font-size: 1vw;
}

.product-info-title {

  font-size: 1vw;
}
.fivestar-product {
  margin-bottom: px;
}

/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
         Image Gallery Selectors
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////*/

.image-gallery-container {
  display: grid;
  grid-template-columns:  20%  70% ;
  align-items: center;
}
.galleryFigure {

  margin: 0 ;
}
.galleryFigure img {
  border-radius: 10px;
  display: inline;
  min-width: 20%;
  max-width:80%;
  width: 400px;
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 12px 0 15px -4px rgba(2, 13, 27, 0.8), -12px 0 8px -4px rgba(6, 20, 36, 0.8);
}

.gallery_thumbnailsUl {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.gallery_thumbnailsUl li {
  display: inline-block;
  width: 4vw;
  margin-left: 15px;
  margin-top: 5px;
  cursor: pointer;
  
}

.gallery_thumbnailsUl li img {
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  align-items: center;
  justify-content: center;
  display: inline-block;
  max-width: 99%;
  min-width: 20%;
}

.galleryStyle{
border-radius: 5px;
max-width: 10%;
max-height: 10%;
}

#mainImg{
  max-width: 50%;
}
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
         Style Thumbnails Selectors
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////*/

.styleSelect{
  border-radius: 30px;
  margin: 0;
  width: 4vw
}

.styleCaption{
  font-size: 30px;
  font-style: italic;

}

.style_thumbnailsUl{
  list-style: none;
  margin: 0;
  padding: 0;
}
.style_thumbnailsUl li{
  display: inline-block;
  width: 100px;
  margin: 0 5px;
  cursor: pointer;
}
.style_thumbnailsUl li img{

  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  align-items: center;
  justify-content: center;
  display: inline-block;
  max-width: 99%;
  min-width: 20%;
}

/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
         Add to cart modal
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////*/

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: black;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.modal-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.modal-box .user-box {
  position: relative;
}

.modal-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.modal-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.modal-box .user-box input:focus ~ label,
.modal-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.modal-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.modal-box a:hover {
  background: #5909a3;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.modal-box a span {
  position: absolute;
  display: block;
}

.modal-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #3507a0);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.modal-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #7d13bb);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.modal-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #8003f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.modal-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #9d09d8);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.modalConfirmation{
  font-style: normal;
  color: white;
  size: 10px;
}

/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
         Social Buttons
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////
/* //////////////////////////////////////////////////////////////////*/

.social-btns{
  color: #7d13bb;
}

.social-btns a{
  background-color: rgb(102, 12, 12);
}