body {
  padding: 10px;
  font-family:  Helvetica, sans-serif;
  font-size: 10px;
  color: black;

}
/*///////////RELATED ITEMS CSS \\\\\\\\\\\\\\\\\\\\ */
/* text styling */
.relatedproducts-title, .youroutfit-title{
  padding-top:15px;
  font-size: 12px;
}
.style-tag{
  font-size: 9px;
}
.product-info {
  border-radius: 4px;
  text-align: center;
}

/* contains both card containers */
.related-products-container {
  position: relative;
  width:100%;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 0px;
  padding: 0;
  justify-content: center;
}

/* main slides container */
.related-cards-container, .your-outfit-container{
  height: 400px;
  width: 904px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 80px;
}

/* slider */
.related-card-deck, .your-outfit-deck {
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.related-card-deck::-webkit-scrollbar,.your-outfit-deck::-webkit-scrollbar {
  display: none;
  width: 0px;
  position:fixed;
}

/* invidiual slides */
.related-card, .your-outfit-card {
  display:inline-block;
  overflow: hidden;
  width: 200px;
  height: 300px;
  margin-right: 8px;
  padding: 2px;
  border: solid;
  border-radius: 4px;
  border-width: 2px;
  border-color: grey;
  box-shadow: 1px 1px 1px 1px black;
  background-color: silver;
  font-weight: bold;

}

.product-card-contents{
  display: grid;
  grid-template-rows: 0px 250px 20px;
  font-size: 15px;
}

.add-to-outfit-card{
  display: grid;
  grid-template-rows: 250px 50px;
  justify-content: center;
}

/* left right scroll buttons */
.goLeft, .goRight{
  position: relative;
  font-size: 25px;
}

.goLeft{
  left:0;
}

.goRight{
  right:0;
}

.fit-picture {
  max-width:200%;
  max-height: 300px;
  border-radius: 4px;
}

/* compare modal button*/
#related-action {
  position: sticky;
  margin-left: 80%;
  margin-top: 5%;
  font-size: 25px;
  color: red;
  padding-bottom:6px;
}

#related-action:hover{
  font-weight: bold;
}

.placeholder, .scroll-button{
  width: 25px
}

#add-to-outfit-button {
  font-size: 200px;
  align-items: center;
}

#add-to-outfit-button:hover,
.goLeft:hover, .goRight:hover {
  color: red;
}

/* /////////END OF RELATED ITEMS\\\\\\\\\\\\\\*/